body {
	background-color: #fbe6f7;

	.topnav {
   background-color: #ff96f1;
   overflow: hidden;
}

.topnav a {
   float: left;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
   color: white;
}

.topnav a:hover {
   background-color: #ff96f2;
   color: #ff2ae2;
}

.topnav a.active {
   background-color: #ff96f1;
   color: white;
}

}